# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- ROS (TRÈS IMPORTANT) ---
# On ignore les dossiers de build pour que le prof compile lui-même
build/
devel/
install/
log/
.catkin_workspace
.catkin_tools/
**/build/
**/devel/
**/install/
**/log/

# --- IDE & SYSTÈME ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- LOGS ET MÉDIAS ---
*.log
*.mp4
*.avi
*.jpg
*.jpeg
*.png